<div class="h-100 sign-in-form" style="background-color: rgb(81, 137, 197);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-sm-8 col-md-8 col-lg-6 col-xl-5">
        <div class="card rounded-3 ">
          <div class="row g-0">
            <div class="card-body p-md-5 mx-md-4 text-center">
              <h4 class="mt-1 mb-5 pb-1 display-6">Auntie Flash Patient Warning App</h4>
              <form [formGroup]='signInForm' (ngSubmit)="onSubmit()">
                <p>Please login to your account to access this system.</p>

                <div class="form-floating mb-3">
                  <input type="email" class="form-control" id="emailInput" placeholder="name@example.com" required formControlName="email">
                  <label for="emailInput">Email address</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" class="form-control" id="passwordInput" placeholder="password" required formControlName="password">
                  <label for="passwordInput">Password</label>
                </div>
                <div class="form-check ">

                  <label class="form-check-label" for="rememberMe"><input type="checkbox" class="form-check-input" id="rememberMe" formControlName="rememberMe">Remember Me</label>
                </div>
                <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-1" type="submit">Sign In</button><br>

                <br><a class="text-muted">Forgot password?</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
