<div class="d-flex justify-content-center flex-column flex-wrap flex-md-nowrap align-items-center border-bottom my-4">
  <h1 class="display-3">Manage Users</h1>
  <button class="btn btn-primary mt-1 mb-3" (click)="previousPage()">Return to Previous Page</button>
</div>

<div *ngIf="loadingService.loadedObs | async ;else loadingIcon" class="container">
  <div class="container p-3">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h2 class="h2 me-2">Details</h2>
    </div>
    <form [formGroup]='detailsForm' (ngSubmit)="onSubmit(confirmModal)">
      <div class="row">
        <div class="col-sm">
          <div class="form-floating my-1">
            <input type="text" class="form-control" id="userIdInput" placeholder="0" [value]="user.userId" readonly formControlName="userId">
            <label for="userIdInput">User ID</label>
          </div>
          <div class="form-floating my-1">
            <input type="text" class="form-control" id="firstNameInput" placeholder="First Name" formControlName="firstName" required [readonly]="signedInAccountType == 'practitioner' ? true : null">
            <label for="firstNameInput">First Name</label>
          </div>
          <div class="form-floating my-1">
            <input type="text" class="form-control" id="surnameInput" placeholder="Surname" formControlName="surname" required [readonly]="signedInAccountType == 'practitioner' ? true : null">
            <label for="surnameInput">Surname</label>
          </div>

          <div class="form-floating my-1" *ngIf="signedInAccountType != 'practitioner'; else selectDisabled">
            <select type="text" class="form-control" id="genderInput" placeholder="0" formControlName="gender" required >
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              <option value="Other">Other</option>
              <option value="Prefer not to say">Prefer not to say</option>
            </select>
            <label for="genderInput">Gender</label>
          </div>
          <ng-template #selectDisabled>
            <div class="form-floating my-1">
              <input type="text" class="form-control" id="genderInput" placeholder="gender" formControlName="gender" required [readonly]="signedInAccountType == 'practitioner' ? true : null">
              <label for="genderInput">Gender</label>
            </div>
          </ng-template>
          <div class="form-floating my-1">
            <input type="date" class="form-control" id="dobInput" placeholder="1970-01-01" formControlName="dob" required [readonly]="signedInAccountType == 'practitioner' ? true : null">
            <label for="dobInput">Date of Birth</label>
          </div>
        </div>
        <div class="col-sm">
          <div class="form-floating my-1">
            <input type="email" class="form-control" id="emailInput" placeholder="example@example.com" formControlName="email" required [readonly]="signedInAccountType == 'practitioner' ? true : null">
            <label for="emailInput">Email</label>
          </div>


          <div class="form-floating my-1">
            <input type="text" class="form-control" id="address1Input" placeholder="Address Line 1" formControlName="address1" required [readonly]="signedInAccountType == 'practitioner' ? true : null">
            <label for="address1Input">Address Line 1</label>
          </div>
          <div class="form-floating my-1">
            <input type="text" class="form-control" id="address2Input" placeholder="Address Line 2" formControlName="address2" [readonly]="signedInAccountType == 'practitioner' ? true : null">
            <label for="address2Input">Address Line 2</label>
          </div>
          <div class="form-floating my-1">
            <input type="text" class="form-control" id="address3Input" placeholder="Address Line 3" formControlName="address3" [readonly]="signedInAccountType == 'practitioner' ? true : null">
            <label for="address3Input">Address Line 3</label>
          </div>
          <div class="form-floating my-1">
            <input type="text" class="form-control" id="postcodeInput" placeholder="Post Code" formControlName="postcode" required [readonly]="signedInAccountType == 'practitioner' ? true : null">
            <label for="postcodeInput">Postcode</label>
          </div>
        </div>

      </div>



      <div class="alert alert-success alert-dismissible " *ngIf="messageState | async" role="alert">
        <div class="d-flex align-items-center" role="alert">
            <img class="img-fluid" src="/assets/img/hand-thumbs-up.svg" alt="svg"> User details have successfully been updated
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="onCloseToast()"></button>
      </div>
      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-1" type="submit" *ngIf="signedInAccountType != 'practitioner'" [disabled]="!detailsForm.valid" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Update Details</button>
      <p *ngIf="!detailsForm.valid">Please ensure the form above is fully filled in.</p>
    </form>

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 my-3 border-bottom" *ngIf="signedInAccountType == 'practitioner'">
      <h2 class="h2 me-2">Patient Epilepsy Details</h2>
    </div>
    <form [formGroup]='epilepsyDetailsForm' (ngSubmit)="onSubmit(confirmEpilepsyModal)" *ngIf="signedInAccountType == 'practitioner'">
      <div class="row">
        <div class="col-md-4 col-sm-12">
          <div class="form-floating my-1">
            <select type="text" class="form-control" id="seizureTypeInput" placeholder="0" formControlName="seizureType" required >
              <option value="Simple partial (focal)">Simple partial (focal)</option>
              <option value="Complex partial (focal)">Complex partial (focal)</option>
              <option value="Tonic-clonic">Tonic-clonic</option>
              <option value="Absence">Absence</option>
              <option value="Myoclonic">Myoclonic</option>
              <option value="Clonic">Clonic</option>
              <option value="Tonic">Tonic</option>
              <option value="Atonic">Atonic</option>
              <option value="Other">Other</option>
            </select>
            <label for="seizureTypeInput">Seizure Type</label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="form-floating my-1">
            <input type="text" class="form-control" id="freqInput" placeholder="freq" formControlName="frequency" required >
            <label for="freqInput">Frequency</label>
          </div>
        </div>
        <div class="col-md-4 col-sm-12">
          <div class="form-floating my-1">
            <input type="text" class="form-control" id="yearsInput" placeholder="12" formControlName="yearsSuffering" required >
            <label for="yearsInput">Years Suffering</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-floating my-1">
            <input type="textarea" class="form-control" id="triggerDetailsInput" placeholder="details" formControlName="triggerDetails" required>
            <label for="triggerDetailsInput">Trigger Details</label>
          </div>
        </div>
      </div>
      <div class="alert alert-success alert-dismissible " *ngIf="messageEpilepsyState | async" role="alert">
        <div class="d-flex align-items-center" role="alert">
            <img class="img-fluid" src="/assets/img/hand-thumbs-up.svg" alt="svg"> Epilepsy Details have successfully been updated
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="onCloseToast()"></button>
      </div>
      <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-1" type="submit" [disabled]="!epilepsyDetailsForm.valid">Update Epilepsy Details</button>
      <p *ngIf="!detailsForm.valid">Please ensure the form above is fully filled in.</p>
    </form>

    <div *ngIf="signedInAccountType == 'practitioner'">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 pt-3 my-3 border-bottom" >
        <h2 class="h2 me-2">Patient Seizures Log</h2>
      </div>
      <div *ngIf="events.length > 0; else noEvents" class="my-3">
        <p>Below shows a list of what films caused a patient to have a seizure, and what time it occured at.</p>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div class="col" *ngFor="let event of events">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><b>{{event.filmName}}</b> at <b>{{event.timestamp}}</b></h5>
                <h6 class="card-subtitle mb-2 text-muted">Severity: {{event.severity}}</h6>
                <p class="card-text">Details: {{event.details}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-template #noEvents>
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title"><b>No seizures have been logged.</b></h5>
                <p class="card-text">The patient must log a seizure through the mobile app for it to show here.</p>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>


    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 my-3 border-bottom">
      <h2 class="h2 me-2">Assigned Practices</h2>
      <div>
        <div class="btn btn-outline-primary mb-2" (click)="reloadPracticeLinks()">
          Refresh Data <img class="img-fluid" src="/assets/img/arrow-clockwise.svg" alt="Refresh">
        </div>
      </div>
    </div>
    <div *ngIf="practiceLinks.data.length > 0; else noPractices">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Practice Name</th>
              <th scope="col">Practice Telephone</th>

              <th class="text-center" scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let practice of practiceLinks.data; let i = index">
              <td>{{practice.practiceName}}</td>
              <td>{{practice.telephone}}</td>
              <td class="text-center">
                <button class="btn btn-sm btn-primary mx-1" (click)="openPracticeModal(practiceDetailModal,i)">View Practice Information</button>
                <button class="btn btn-sm btn-danger mx-1" (click)="deletePatientLink(user.userId, practice.practiceId, i)" *ngIf="signedInAccountType != 'practitioner'">Remove from Practice</button>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <button class="btn btn-primary" (click)="assignPractice(assignPracticeModal)" *ngIf="signedInAccountType != 'practitioner'">Assign new Practice</button>
    </div>
  </div>
</div>

<ng-template #loadingIcon><app-loading></app-loading></ng-template>

<ng-template #confirmModal>
  <div class="modal-body text-center">
    <p>Are you sure you want to update {{user.firstName}} {{user.surname}}'s Details?</p>
    <button type="button" class="btn btn-success m-1" (click)="onConfirmModal()" >Yes</button>
    <button type="button" class="btn btn-danger m-1" (click)="onCloseModal()" >No</button>
  </div>
</ng-template>

<ng-template #confirmEpilepsyModal>
  <div class="modal-body text-center">
    <p>Are you sure you want to update {{user.firstName}} {{user.surname}}'s Epilepsy Details?</p>
    <button type="button" class="btn btn-success m-1" (click)="onConfirmEpilepsyModal()" >Yes</button>
    <button type="button" class="btn btn-danger m-1" (click)="onCloseModal()" >No</button>
  </div>
</ng-template>

<ng-template #assignPracticeModal>
  <div class="modal-body text-center">
    <h1>Assign Practice to User</h1>
    <form [formGroup]='assignForm' (ngSubmit)="onAssignConfirm()">

          <div class="form-floating my-1">
            <select type="text" class="form-control" id="practiceInput" placeholder="0" formControlName="practiceInput" required>
              <option *ngFor="let practice of practices" [value]="practice.practiceId">{{practice.practiceName}}</option>
            </select>
            <label for="practiceInput">Practice to Assign</label>
          </div>


      <button class="btn btn-primary btn-block mb-1" type="submit" [disabled]="!assignForm.valid">Update Details</button>
      <button type="button" class="btn btn-danger m-1" (click)="onCloseModal()" >Cancel</button>

      <p *ngIf="!assignForm.valid">Please ensure the you have selected a practice.</p>
    </form>
  </div>
</ng-template>

<ng-template #practiceDetailModal>
  <div class="modal-body text-center">
    <h1>Practice Information</h1>
    <div class="my-4">
      <h4>Practice Name:</h4>
      <h5>{{selectedPractice.practiceName}}</h5>
    </div>
    <div class="my-4">
      <h4>Address:</h4>
      <h5>{{selectedPractice.address1}}<br>{{selectedPractice.address2}}<br>{{selectedPractice.address3}}</h5>
    </div>
    <div class="my-4">
      <h4>Postcode:</h4>
      <h5>{{selectedPractice.postcode}}</h5>
    </div>
    <div class="my-4">
      <h4>Telephone:</h4>
      <h5><a href="tel:{{selectedPractice.telephone}}">{{selectedPractice.telephone}}</a></h5>
    </div>
    <button type="button" class="btn btn-success m-1" (click)="onCloseModal()" >Close</button>
  </div>
</ng-template>

<ng-template #noPractices>
  <h4>This user is not assigned to any practices.</h4>
</ng-template>
