<div class="container" >
  <h1 class="display-1">Dashboard</h1><br>
  <h2>Welcome Back: {{ name }}</h2>

  <div class="row justify-content-md-center mt-4">
    <!-- Practitioner Links -->
    <app-nav-card class="col-sm-6 col-lg-4 col-xl-3" [routerLink]="['/view-my-patients']" [svg]="'people'" [title]="'View Patients'" *ngIf="accountType === 'practitioner'"></app-nav-card>
    <app-nav-card class="col-sm-6 col-lg-4 col-xl-3" [routerLink]="['/view-my-practices']" [svg]="'building'" [title]="'View Practices'" *ngIf="accountType === 'practitioner'"></app-nav-card>
    <app-nav-card class="col-sm-6 col-lg-4 col-xl-3" [routerLink]="['/films']" [svg]="'film'" [title]="'View Films'" *ngIf="accountType === 'practitioner'"></app-nav-card>

    <!-- Administrator Links -->
    <app-nav-card class="col-sm-6 col-lg-4 col-xl-3" [routerLink]="['/manage-users']" [svg]="'people'" [title]="'Manage Users'" *ngIf="accountType === 'administrator'"></app-nav-card>
    <app-nav-card class="col-sm-6 col-lg-4 col-xl-3" [routerLink]="['/manage-practices']" [svg]="'building'" [title]="'Manage Practices'" *ngIf="accountType === 'administrator'"></app-nav-card>
    <app-nav-card class="col-sm-6 col-lg-4 col-xl-3" [routerLink]="['/manage-requests']" [svg]="'box-arrow-up-right'" [title]="'Manage Requests'" *ngIf="accountType === 'administrator'"></app-nav-card>
    <app-nav-card class="col-sm-6 col-lg-4 col-xl-3" [routerLink]="['/films']" [svg]="'film'" [title]="'Manage Films'" *ngIf="accountType === 'administrator'"></app-nav-card>

    <!-- Global Links -->
    <app-nav-card class="col-sm-6 col-lg-4 col-xl-3" [routerLink]="['/sign-out']" [svg]="'box-arrow-right'" [title]="'Sign Out'" (click)="authService.signOut()"></app-nav-card>
  </div>

</div>
