<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Patient List</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">Email</th>
          <th scope="col">First Name</th>
          <th scope="col">Surname</th>
          <th scope="col">Gender</th>
          <th scope="col">DOB</th>

          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of patients.data; let i = index">
          <td>{{user.email}}</td>
          <td>{{user.firstName}}</td>
          <td>{{user.surname}}</td>
          <td>{{user.gender}}</td>
          <td>{{user.dob.substring(0,10)}}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-primary" routerLink="/edit-user/{{user.userId}}">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deletePatient(user.userId, i)">Delete</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="container">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2">Practitioners List</h2>
  </div>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">userId</th>
          <th scope="col">Email</th>
          <th scope="col">firstName</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of practitioners.data; let i = index">
          <th scope="row">{{user.userId}}</th>
          <td>{{user.email}}</td>
          <td>{{user.firstName}}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-primary" routerLink="/edit-user/{{user.userId}}">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deletePractitioner(user.userId, i)">Delete</button>
        </tr>
      </tbody>
    </table>
  </div>
</div>
