<ion-header>
  <ion-toolbar>
    <ion-title>request-newfilm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="newFilm" (ngSubmit)="onSubmit()">
    <ion-item lines="full">
        <ion-label position="floating">Film Name</ion-label>
        <ion-input type="text" formControlName="filmName"></ion-input>
    </ion-item>

    <ion-item lines="full">
        <ion-label position="floating">Genre</ion-label>
        <ion-input type="text" formControlName="genre"></ion-input>
    </ion-item>

    <ion-item lines="full">
        <ion-label position="floating">Runtime</ion-label>
        <ion-input type="text" formControlName="runtime"></ion-input>
    </ion-item>

    <ion-item lines="full">
        <ion-label position="floating">Film Release Date</ion-label>
        <ion-datetime displayFormat="MM/DD/YYYY" min="1994-03-14" max="2012-12-09" formControlName="releaseDate">
        </ion-datetime>
    </ion-item>

    <ion-item>
        <ion-label>Does this film contain epileptic triggers</ion-label>
        <ion-select placeholder="Does this film contain epileptic triggers" formControlName="trigger">
            <ion-select-option value="true">Yess</ion-select-option>
            <ion-select-option value="false">No</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-row>
        <ion-col>
            <ion-button type="submit" color="primary" expand="block">Submit Request</ion-button>
        </ion-col>
    </ion-row>
</form>
</ion-content>
