<div class="container">
  <h1 class="display-1">Film Data Page</h1><br>
  <h2>This is an adaptive page, showing different views for the Practitioner and Administrator.</h2>
  <p>If the user is logged in as a Practitioner, this page will only allow viewing of the films and their timestamps of interest. However, if the user is logged in as an Administrator it will allow viewing as well as modification of the data and managing the requests of the mobile app users for adding or updating data.</p>
</div>
