<div class="container">
  <h1 class="display-1"> View Film List</h1><br>
  
  <div class= "Search">
    <input type="text" placeholder="Search movies"/>
  </div>
  <!-- Control buttons -->
<div id="myBtnContainer">
  <button class="btn" onclick="filterSelection('all films sorting')"> A-Z</button>
  <button class="btn" onclick="filterSelection('genre')"> Genre</button>
  <button class="btn" onclick="filterSelection('film name')"> Film Name</button>
  <button class="btn" onclick="filterSelection('epilepsy triggers')"> Number of Triggers</button>
  <button class="btn" onclick="filterSelection('time')"> Runtime</button>
</div>
 <!------Film cards  --> 
 
  
 
    <div *ngFor="let films of films.data; let i = index">
      <div class="card" style="width: 50%;"class="row row-cols-1 row-cols-md-3">
          <div class="col mb-4">
              <div class="card-body"> 
          <h5 class="card-title">{{films.filmId}}</h5>
          <img class="card-img-top" [src]="'film.imageURL'">
          <img class="card-img-top" src="'films.imageURL'">
            <p class= "card-title">{{films.filmName}} </p>
            <p class= "card-label">Genre: {{films.genre}}</p>
            <p class= "card-label"> Runtime: {{films.runTime}}</p>
            <p class="card-text">{{films.filmDescription}}</p>
            <button class="btn btn-sm btn-primary" routerLink="/view-film/{{films.filmDescription}}">View film</button>
            </div>
           
            
       
           
   
    




            