<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Welcome</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-central-container>
        <h2>Welcome {{user.firstName}}</h2>
        <div align-items-center>
                <ion-card>
                    <ion-card-header>
                        <h3>Requests</h3>
                    </ion-card-header>
                    <ion-item>
                        <h4>You have {{pending}} requests pending</h4>
                    </ion-item>
                    <ion-button routerLink="/user-requests">See More</ion-button>
                </ion-card>
                <ion-card>
                    <ion-card-header>
                        <h3>Epileptic Events</h3>
                    </ion-card-header>
                    <ion-item>
                        <h4>You have had 3 epileptic events</h4>
                    </ion-item>
                    <ion-button routerLink="/user-profile">See More</ion-button>
                </ion-card>
        </div>
    </app-central-container>
</ion-content>

<app-footer></app-footer>
