<div class="d-flex justify-content-center flex-column flex-wrap flex-md-nowrap align-items-center border-bottom my-4">
    <h1 class="display-3">Manage My Account</h1>
    <div class="container p-3">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <button class="btn btn-primary" [routerLink]="['../home']">Return to Dashboard</button>
  </div>
  <div class= "align-items-center" img src="assets/img/user.png"></div>
  <div *ngIf="loadingService.loadedObs | async">
    <div class="container p-3">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <button class="btn btn-primary">Edit Details </button>
      </div>
   
  
<form [formGroup]='detailsForm'>
        <div class="row">
          <div class="col-sm">
            <div class="form-floating my-1">
              <input type="text" class="form-control" id="userIdInput" placeholder="0" [value]="user.userId" readonly formControlName="userId">
              <label for="userIdInput">User ID:  </label>
            </div>
            <div class="form-floating my-1">
              <input type="text" class="form-control" id="firstNameInput" placeholder="First Name" formControlName="firstName" required>
              <label for="firstNameInput">First Name: </label>
            </div>
            <div class="form-floating my-1">
              <input type="text" class="form-control" id="surnameInput" placeholder="Surname" formControlName="surname" required>
              <label for="surnameInput">Surname: </label>
            </div>
            <div class="form-floating my-1">
              <input type="text" class="form-control" id="genderInput" placeholder="Gender" formControlName="Gender" required>
              <label for="genderInput">Gender: </label>
              </div>
              <div class="form-floating my-1">
                <input type="text" class="form-control" id="dobInput" placeholder="Date Of Birth" formControlName="Date Of Birth" required> 
                <label for="dobInput">Date of Birth: </label>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-floating my-1">
                <input type="email" class="form-control" id="emailInput" placeholder="example@example.com" formControlName="email" required>
                <label for="emailInput">Email: </label>
              </div>
    
    
              <div class="form-floating my-1">
                <input type="text" class="form-control" id="address1Input" placeholder="Address Line 1" formControlName="address1" required>
                <label for="address1Input">Address Line 1: </label>
              </div>
              <div class="form-floating my-1">
                <input type="text" class="form-control" id="address2Input" placeholder="Address Line 2" formControlName="address2">
                <label for="address2Input">Address Line 2: </label>
              </div>
              <div class="form-floating my-1">
                <input type="text" class="form-control" id="address3Input" placeholder="Address Line 3" formControlName="address3">
                <label for="address3Input">Address Line 3: </label>
              </div>
              <div class="form-floating my-1">
                <input type="text" class="form-control" id="postcodeInput" placeholder="Post Code" formControlName="postcode" required>
                <label for="postcodeInput">Postcode: </label>
              </div>

  </div>
  <p><button>Reset Password</button></p>
  <div *ngFor="let user of user.data; let i = index">
    <label> {{user.ID}}</label>
    <label> {{user.FirstName}}</label>
    <label> {{user.Surname}}</label>
    <label> {{user.Gender}}</label>
    <label> {{user.dob.substring(0,10)}}</label>
    <label> {{user.address1Input}}</label>
    <label> {{user.address2Input}}</label>
    <label> {{user.address3Input}}</label>
    <label> {{user.postcodeInput}}</label>
    <label> {{user.email}}</label>
    <button class="btn btn-sm btn-primary mx-1" routerLink="{{user.userId}}">Edit</button>
    </div>

 








           