body {
    background: #fcf9f6;
    
  }
  
  main {
    background: white;
    margin: 50px 0;
    padding: 20px;

    }
  
  
  .center {
    margin: 0 auto;
    width: 700px;
    background: black;
    padding: 20px;
    color: white;
  }
  
  .center{
    text-align:center;
    width:50%;
    }



   