<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title>Page Not Found</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <app-central-container>
    <ion-card>
      <ion-card-header>
        <img src="../../../assets/images/404.png" />
        <ion-card-subtitle>404</ion-card-subtitle>
        <ion-card-title>Ooops! You weren't supposed to see this</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        The page you're looking for no longer exists. Return to the <a href="./welcome">homepage</a> and remember: you haven't seen anything.
      </ion-card-content>
    </ion-card>
  </app-central-container>


</ion-content>
