<ion-header>
    <ion-toolbar color="primary">
        <ion-title>My Requests</ion-title>
        <ion-buttons slot="start">
            <ion-menu-button menu="main-menu"></ion-menu-button>
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header>
            Pending Requests
        </ion-list-header>
        <div *ngIf="pendingRequests.length > 0; else noResults">
            <ion-item *ngFor="let pendingRequest of pendingRequests">
                <ion-avatar slot="start">
                    <img src="../../../assets/images/pending.jpg" />
                </ion-avatar>
                <ion-label>
                    <h2>Request Type</h2>
                    <h3>Request Description</h3>
                    <p>Some More Request Description</p>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>

    <ion-list>
        <ion-list-header>
            Approved Requests
        </ion-list-header>
        <div *ngIf="approvedRequests.length > 0; else noResults">
            <ion-item *ngFor="let approvedRequest of approvedRequests">
                <ion-avatar slot="start">
                    <img src="../../../assets/images/checkmark.png" />
                </ion-avatar>
                <ion-label>
                    <h2>Request Type</h2>
                    <h3>Request Description</h3>
                    <p>Some More Request Description</p>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>

    <ion-list>
        <ion-list-header>
            Rejected Requests
        </ion-list-header>
        <div *ngIf="rejectedRequests.length > 0; else noResults">
            <ion-item *ngFor="let rejectedRequest of rejectedRequests">
                <ion-avatar slot="start">
                    <img src="../../../assets/images/rejected.jpg" />
                </ion-avatar>
                <ion-label>
                    <h2>Request Type</h2>
                    <h3>Request Description</h3>
                    <p>Some More Request Description</p>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>

    <ng-template #noResults>
        <div class="ion-text-center">
            <p class="no-results">You currently have no requests for this status</p>
        </div>
    </ng-template>

</ion-content>

<app-footer></app-footer>
