<ion-header>
    <ion-toolbar color="primary">
        <ion-title>My Requests</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button (click)="ngOnInit()">
                <ion-icon name="refresh"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-list>
        <ion-list-header>
            Pending Requests
        </ion-list-header>
        <div *ngIf="pendingRequests.length > 0; else noResults">
            <ion-item *ngFor="let pendingRequest of pendingRequests">
                <ion-avatar slot="start">
                    <img src="../../../assets/images/pending.jpg" />
                </ion-avatar>
                <ion-label>
                    <h2>Request Type: {{pendingRequest.requestType}}</h2>
                    <h3>Details:</h3>
                    <p>Film Name: {{pendingRequest.data.filmName}}</p>
                    <div *ngIf="pendingRequest.requestType === 'New Film';">
                        <p>{{pendingRequest.data.filmDesc}}</p>
                        <p>Genre: {{pendingRequest.data.genre}}</p>
                        <p>Runtime: {{pendingRequest.data.runtime}}</p>
                    </div>
                    <div *ngIf="pendingRequest.requestType === 'New Trigger';">
                        <p>{{pendingRequest.data.details}}</p>
                        <p>At: {{pendingRequest.data.timestamp}}</p>
                    </div>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>

    <ion-list>
        <ion-list-header>
            Approved Requests
        </ion-list-header>
        <div *ngIf="approvedRequests.length > 0; else noResults">
            <ion-item *ngFor="let approvedRequest of approvedRequests">
                <ion-avatar slot="start">
                    <img src="../../../assets/images/checkmark.png" />
                </ion-avatar>
                <ion-label>
                    <h2>Request Type: {{approvedRequest.requestType}}</h2>
                    <h3>Details:</h3>
                    <p>Film Name: {{approvedRequest.data.filmName}}</p>
                    <div *ngIf="approvedRequest.requestType === 'New Film';">
                        <p>{{approvedRequest.data.filmDesc}}</p>
                        <p>Genre: {{approvedRequest.data.genre}}</p>
                        <p>Runtime: {{approvedRequest.data.runtime}}</p>
                    </div>
                    <div *ngIf="approvedRequest.requestType === 'New Trigger';">
                        <p>{{approvedRequest.data.details}}</p>
                        <p>At: {{approvedRequest.data.timestamp}}</p>
                    </div>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>

    <ion-list>
        <ion-list-header>
            Rejected Requests
        </ion-list-header>
        <div *ngIf="rejectedRequests.length > 0; else noResults">
            <ion-item *ngFor="let rejectedRequest of rejectedRequests">
                <ion-avatar slot="start">
                    <img src="../../../assets/images/rejected.jpg" />
                </ion-avatar>
                <ion-label>
                    <h2>Request Type: {{rejectedRequest.requestType}}</h2>
                    <h3>Details:</h3>
                    <p>Film Name: {{rejectedRequest.data.filmName}}</p>
                    <div *ngIf="rejectedRequest.requestType === 'New Film';">
                        <p>{{rejectedRequest.data.filmDesc}}</p>
                        <p>Genre: {{rejectedRequest.data.genre}}</p>
                        <p>Runtime: {{rejectedRequest.data.runtime}}</p>
                    </div>
                    <div *ngIf="rejectedRequest.requestType === 'New Trigger';">
                        <p>{{rejectedRequest.data.details}}</p>
                        <p>At: {{rejectedRequest.data.timestamp}}</p>
                    </div>
                </ion-label>
            </ion-item>
        </div>
    </ion-list>

    <ng-template #noResults>
        <div class="ion-text-center">
            <p class="no-results">You currently have no requests for this status</p>
        </div>
    </ng-template>
</ion-content>
<app-footer></app-footer>
